---
import founderAvatar from '../assets/founder_avatar.png';
---

<section class="landing-section alt-bg">
  <div class="container">
    <div class="commitment-container">
      <h2 class="section-title" style="margin-bottom: 40px;">Our Commitment to You</h2>
      
      <blockquote class="commitment-quote">
        "Precision installation is a craft, not just a service. We believe the financial part should be the easiest part of your renovation."
      </blockquote>

      <div class="commitment-author">
        <img 
          class="author-img" 
          src={founderAvatar.src} 
          alt="Chief Installer and Founder of IKEA Kitchen Installer" 
          loading="lazy"
        />
        <span class="author-name">Chief Installer & Founder</span>
        <span class="author-title">IKEA KITCHEN INSTALLER</span>
      </div>
    </div>
  </div>
</section>
